body {
  background-image: url(Bilder/Bakgrund1.jpeg);
  background-size: cover;
}

nav {
  background-color: rgb(38, 38, 38, 0.7);
}

nav label {
  color: white;
}

nav ul {
}

nav ul li {
}

nav ul li a {
  color: white;
  text-decoration: none;

}


