body {
background-image: url(Bilder/Bakgrund1.jpeg);
background-size: cover;
}

nav {
Background-color: rgb(38, 38, 38, 0.7)
}

nav label {

}

nav ul {

}

nav ul li {

}

nav ul li a {
color:white;
}